<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My App</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <%-body%>

  <script src='js/script.min.js'></script>
</body>
</html>