form#logout {
  display: inline-block;
}
#wrapperLeft {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: $light;
}
#wrapperRight {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
}
#water {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $medium;
}