form#logout {
  display: inline-block;
}
#wrapperLeft, #wrapperRight, #water {
  position: absolute;
  top: 0;
  bottom: 0;
}
#wrapperLeft {
  left: 0;
  background-color: $light;
}
#wrapperRight {
  right: 0;
  left: 50%;
  padding: 1em;
}
#water {
  top: 50%;
  left: 0;
  right: 0;
  background-color: $medium;
}