// Compass Modules

@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

//Global Variables

$light: #EFF6FC;
$medium: #CCDFEE;
$dark: #9FBED6;

// Partials


@import "custompure";
@import "splash";
@import "app";

// Fonts

@font-face {
    font-family: 'moonbold';
    src: url('../fonts/moon_bold-webfont.eot');
    src: url('../fonts/moon_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/moon_bold-webfont.woff2') format('woff2'),
         url('../fonts/moon_bold-webfont.woff') format('woff'),
         url('../fonts/moon_bold-webfont.ttf') format('truetype'),
         url('../fonts/moon_bold-webfont.svg#moonbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'moonlight';
    src: url('../fonts/moon_light-webfont.eot');
    src: url('../fonts/moon_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/moon_light-webfont.woff2') format('woff2'),
         url('../fonts/moon_light-webfont.woff') format('woff'),
         url('../fonts/moon_light-webfont.ttf') format('truetype'),
         url('../fonts/moon_light-webfont.svg#moonlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Page Styles

* {
  @include box-sizing(border-box);
  color: $dark;
};

html, body, p, a, button {
  font-family: 'courier';
};

h1, h2, h3, h4 {
  font-family: 'moonbold';
}

a {
  @include unstyled-link;
};
