@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);
/* line 5, ../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../src/scss/_custompure.scss */
.pure-button {
  font-family: 'moonlight';
  color: #9FBED6;
  border: 2px solid #9FBED6;
  background-color: transparent;
  margin: 1em 0;
}

/* line 8, ../src/scss/_custompure.scss */
.pure-button:hover, .pure-button:focus {
  color: white;
  background-color: #9FBED6;
  background-image: none;
}

/* line 1, ../src/scss/_app.scss */
form#logout {
  display: inline-block;
}

/* line 4, ../src/scss/_app.scss */
#wrapperLeft, #wrapperRight, #water {
  position: absolute;
  top: 0;
  bottom: 0;
}

/* line 9, ../src/scss/_app.scss */
#wrapperLeft {
  left: 0;
  background-color: #EFF6FC;
}

/* line 13, ../src/scss/_app.scss */
#wrapperRight {
  right: 0;
  left: 50%;
  padding: 1em;
}

/* line 18, ../src/scss/_app.scss */
#water {
  top: 50%;
  left: 0;
  right: 0;
  background-color: #CCDFEE;
}

/* line 1, ../src/scss/_nav.scss */
nav {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

@font-face {
  font-family: 'moonbold';
  src: url("../fonts/moon_bold-webfont.eot");
  src: url("../fonts/moon_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/moon_bold-webfont.woff2") format("woff2"), url("../fonts/moon_bold-webfont.woff") format("woff"), url("../fonts/moon_bold-webfont.ttf") format("truetype"), url("../fonts/moon_bold-webfont.svg#moonbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'moonlight';
  src: url("../fonts/moon_light-webfont.eot");
  src: url("../fonts/moon_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/moon_light-webfont.woff2") format("woff2"), url("../fonts/moon_light-webfont.woff") format("woff"), url("../fonts/moon_light-webfont.ttf") format("truetype"), url("../fonts/moon_light-webfont.svg#moonlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 52, ../src/scss/styles.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #9FBED6;
}

/* line 57, ../src/scss/styles.scss */
html, body, p, a, button {
  font-family: 'Cutive Mono';
  font-weight: 200;
}

/* line 62, ../src/scss/styles.scss */
h1, h2, h3, h4 {
  font-family: 'moonlight';
  color: #6D95B3;
  margin: 1em 0;
}

/* line 68, ../src/scss/styles.scss */
h1 {
  font-size: 2em;
}

/* line 72, ../src/scss/styles.scss */
.inline-block {
  display: inline-block;
}

/* line 76, ../src/scss/styles.scss */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
a:active, a:focus {
  outline: none;
}

/* line 80, ../src/scss/styles.scss */
.margin-bottom-0 {
  margin-bottom: 0;
}

/* line 84, ../src/scss/styles.scss */
p {
  padding: 0.5em;
}
