<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Adrift</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src='/js/angular.min.js'></script>
  <script src='/js/angular-route.js'></script>
  <script src='/js/script.min.js'></script>
   <base href="/">
</head>
<body ng-app="adriftApp">

<a href="adrift/locations">Locations</a>
<a href="adrift/collection/<%=currentUser._id%>">Collection</a>
<a href="adrift/settings/<%=currentUser._id%>">Settings</a>
<form action="/sessions/logout?_method=DELETE" method='POST'>
  <input type="submit" value='Logout' />
</form>

<div ng-view></div>

</body>
</html>

