<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Adrift</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src='js/script.min.js'></script>
</head>
<body>
  
</body>
</html>