<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Adrift</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <h1>Log In</h1>
  <form action="/sessions/login" method="post">
    <input type="text" name="user[username]" placeholder="Username">
    <input type="text" name="user[password]" placeholder = "Password">
    <input type="submit" value="Log In">
  </form>

  <h1>Sign Up</h1>
  <form action="/users" method="post">
    <input type="text" name="user[username]" placeholder="Username">
    <input type="text" name="user[password]" placeholder="Password">
    <input type="email" name="user[email]" placeholder="Email">
    <input type="submit" value="Sign Up">
  </form>
</body>
</html>