<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Adrift</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src='js/script.min.js'></script>
</head>
<body>
  <h1>Log In</h1>
  <form action="/login" method="post">
    <input type="text" val="user[username]" placeholder="Username">
    <input type="text" val="user[username]" placeholder = "Password">
  </form>

  <h1>Sign Up</h1>
  <form action="/users" method="post">
    <input type="text" val="user[username]" placeholder="Username">
    <input type="text" val="user[username]" placeholder = "Password">
    <input type="email" val="user[email]" placeholder="Email">
  </form>
  
</body>
</html>